<!
<html lang=kr>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/static/css/style.css">
</head>
<body>
<div class="card" th:each="eatitle :${title}">
    <h4 th:text="${eatitle ? 'true': 'false'}"></h4>
    <div th:if="${eatitleStat}">
        <p>eatitle이 ture 라면 표시될 내용</p>>
    </div>

    <h4 th:text="${eatitle}">dddd</h4>
</div>

</body>
</html>